#main{
 background:url(images/background_1400px.jpg);
 width:100%;
 height:100%;


}

#form-bg{

width:500px;
height:590px;
background-image: url(images/form-bg.png);
background-repeat:repeat;
margin:auto;
margin-top:70px;
padding:5px;
	
 }
 
 
#form-order{
background-color:#FFFFFF;
height: 530px;
padding:30px;
}	
span{
color:#FF0000;
} 
 
.info{

color: #CD5C5C;
border-radius:5px;
background: #FFDAB9;

padding: 5px;
width:190px;


}

.info1{
color: #CD5C5C;
border-radius:5px;
background: #FFDAB9;
padding: 5px;
width:190px;
 } 
 
 
 
 
.name1{
 padding:5px;
border-radius:5px;
}
 
.phone{
 padding:5px;
border-radius:5px;
} 
 
 .city {
 padding:5px;
 resize:none;
border-radius:5px;
 }

.apply{

background: linear-gradient(to top, #0000FF, #1E90FF);
outline: none;
border-radius:10px;
border: 1px solid black;
color:white;
height:40px;
width:140px;


}
.apply:hover { background: #0000FF; }
.apply:active {background: #0000CD; }
 
.input-append.error (background: #0000FF;)



 